@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --background: #ffffff; */
  /* --foreground: #171717; */
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a; */
    /* --foreground: #ededed; */
  }
}

body {
  /* color: var(--foreground); */
  /* background: var(--background); */
  font-family: Arial, Helvetica, sans-serif;
}

form {
  height: 100vh;
  place-content: center;
  display: grid;
  gap: 20px;
}
input,
textarea {
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px;
}

.form-field {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}

span {
  width: 300px;
}
